{% extends 'base.html' %}
{% load staticfiles %}
<title>
{% block title %} Contact us {% endblock %}
    {% block breadcrumb %}
  <li class="breadcrumb-item active">Contact Us </li>
{% endblock %}
    </title>
{% block content %}

<div class="row container-fluid">
<div class="col-sm-12">
</div>
</div>
<body style="background-color:#A52A2A">
<div class="cointainer">
    <h1 align="center"> Contact </h1>
    </div>
<div class="inside" >
                <img src="\static\img\anigif90.gif"align="right" alt="bank1"  width="600"   height="480">
            </div>
<div class="col-sm-6" div class="container">

    <p id="rcorners1" >   We provides the best services to the community</p>
    </div>
<div class="col-sm-6" div class="container" >
    <p id="rcorners2">  Please contact us on this number : 0701280731</p>
    </div>
<div class="col-sm-6" div class="container" >
    <p  id="rcorners3"> Email us now : florencenamukwaya@gmail.com
    </p>
    </div>
<

</body>

</div>
     </div>
</body>
{% endblock %}
